:root {
    --bg-main: #f6f8fc;
    --bg-card: #ffffff;
    --border: #cdd1da;
    --bg-sidebar: #1e293b;

    --inactive-users-bg: #fee2e2;
    --inactive-users-icon: #dc2626;

    --text-main: #1f2937;
    --text-secondary: #6b7280;

    --active-users-bg: #dcfce7;
    --active-users-icon: #16a34a;

    --admin-users-bg: #fef3c7;
    --admin-users-icon: #d97706;

    --total-users-bg: #f0e3f8;

    --primary: #6c39e0;
    --primary-hover: #4c5df5;

    --success-bg: #dcfce7;
    --success-text: #16a34a;

    --danger-bg: #fee2e2;
    --danger-text: #dc2626;

    --admin-bg: #ede9fe;
    --admin-text: #7c3aed;

    --user-bg: #f1f5f9;
    --user-text: #475569;

    --moderator-bg: #fef3c7;
    --moderator-text: #d97706;

    --white: #fff;
}